<div class="docs-p-8">
  <h1>Examples</h1>

  <p>This section contains some examples intended to show some potential use cases for this addon. Note that these examples (and really the addon itself) are a little weird and are not intended to be interpreted as best practice. View at your own risk. Choose an example from the sidebar on the left or checkout the <a href="https://github.com/dknutsen/ember-needs-async/tree/master/tests/dummy/app/templates/examples">templates code</a> or the <a href="https://github.com/dknutsen/ember-needs-async/blob/master/tests/dummy/app/routes/examples">routes code</a>.</p>
</div>
