<h1>async-all helper</h1>

<p>The async-all helper takes an array of tasks and yields a task that finishes when all of the subtasks finish. It is exactly the same as the ember-concurrency all task.</p>

{{#docs-demo as |demo|}}
  {{#demo.example name="async-all-demo.hbs"}}

    <h2>Three Users</h2>
    <NeedsAsync @needs={{async-all (array
      (find-record "user" "1")
      (find-record "user" "2")
      (find-record "user" "3")
    )}} as |States|>
      <States.loading>
        Loading users...
      </States.loading>
    
      <States.loaded as |users|>
        {{#each users as |user|}}
          <div>{{user.fullName}}</div>
        {{/each}}
      </States.loaded>
    </NeedsAsync>

  {{/demo.example}}

  {{demo.snippet name="async-all-demo.hbs"}}
{{/docs-demo}}
