<div class="docs-flex">
  <div class="docs-w-1/6 docs-p-4">
    <ul class="docs-list-reset">
      <li>{{#link-to "examples.user-card" class="docs-px-2 docs-py-1"}}User Card{{/link-to}}</li>
      <li>{{#link-to "examples.non-blocking-models.index" class="docs-px-2 docs-py-1"}}Non-blocking Routes{{/link-to}}</li>
      <li>{{#link-to "examples.recursor-component" class="docs-px-2 docs-py-1"}}Recursive Component{{/link-to}}</li>
    </ul>
  </div>
  <div class="docs-w-5/6">
    {{outlet}}
  </div>
</div>
