<h1>Sandbox</h1>

<div class="docs-flex docs-h-full">
  <div class="docs-flex-1 docs-border-2 docs-border-grey docs-border-solid">
    {{textarea value=templateContent class="docs-w-full docs-h-full"}}
  </div>
  <div class="docs-flex-1 docs-border-2 docs-border-grey docs-border-solid">
    {{sandbox-freeform templateContent=templateContent class="docs-w-full docs-h-full docs-flex docs-items-center docs-justify-center"}}
  </div>
</div>
